---
---

@import "{{ site.theme }}";

.table-of-contents {
    margin: 2em 0;
}
.table-of-contents li {
    margin: 0.5em 0;
    list-style-type: none;
}
.table-of-contents a {
    color: #2c3e50;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease;
}
.table-of-contents a:hover {
    border-bottom-color: #2c3e50;
}
